.answer-attempts-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.attempts { 
    align-items: center;
    text-align: center;
    width: 100%;
    color: white;
    padding-left: 10px;
    margin-top: 8px;
}

.attempts-number { 
    font-size: 36px;
    font-weight: bold;
}


@media (max-width: 768px) { 
    .answer-attempts-container { 
        flex-direction: column; 
    }


} 