@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Luckiest+Guy&family=Onest&family=Oswald&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&family=Old+Standard+TT&family=Poppins:wght@400;800&family=Roboto&family=Roboto+Slab:wght@100;200&display=swap');
.character-card {
    width: 30%;
    text-align: center;
    margin: 10px;
}
  
.character-image {
    height: 300px; 
    object-fit: cover; 
}
  
.card-title {
    text-align: center;
}
  
.custom-font{
    font-family: 'Roboto', sans-serif;
    color: white;
}

.modal-body p{
    font-family: 'News Cycle', sans-serif;
    font-size: 20px;
}

.character-card.card{
    background-color: #333;
    border: 2px solid ;
}
.alibi.modal-body{
    background-color: #333;
    color: white;
}
.alibi.modal-header{
    background-color: #333;
    color: white;
}
.alibi.modal-footer{
    background-color: #333;
    color: white;
}
.italic-text {
    font-style: italic;
  }

@media screen and (max-width: 620px) {
    .character-card {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
      
    .character-image {
        height: 300px; 
        object-fit: cover; 
    }
  }


