.bar {
  background-color: white;
  color: black;
  border: 1px solid white;
}

.bar .progress {
  background-color: orange; 
  height: 10px; 
  width: 50%; 
}

.custom-progress-bar {
  background-color: #333;
  height: 20px; 
  width: 20%; 
  color: blue;
}

.bar .progress-bar {
  background-color: black;
}

.bar .progress-label {
  color: orange;
}
