@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&family=Oswald&family=Signika+Negative&family=Space+Grotesk&display=swap');
.navbar-title-icon{
    font-size: 40px;
    font-family: 'Roboto Slab', sans-serif;
}

@media (max-width: 768px) { 
    .header-nav-bar { 
        flex-direction: column; 
    }
}

.image-title{
margin-right: 8px;
}

.session-name{
    margin-top:4px;
    margin-left: 8px;
    font-family: 'Roboto', sans-serif;
    font-size:15px;
}
.detective-name{
    color: #ff6a00;
    margin-left: 5px;
}

.user-button{
    margin-left: 10px;
    background-color: #ff6a00;
    width: 65px; 
    height:36px; 
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}



/* mobile */
@media screen and (max-width: 620px) {
    .navbar {
        display: block;
    }
    .navbar-title-icon {
        font-size: x-large;
    }
    .registration-login {
        justify-content: center;
    }
    .header-nav-bar {
        width: 100%;
        margin: auto;
        /* margin-bottom: -20px; */
    }
  }