@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&family=Oswald&family=Signika+Negative&family=Space+Grotesk&display=swap');
.navbar-title-icon{
    font-size: 40px;
    font-family: 'Roboto Slab', sans-serif;
}

@media (max-width: 768px) { 
    .header-nav-bar { 
        flex-direction: column; 
    }
}

.image-title{
margin-right: 8px;
}


/* mobile */
@media screen and (max-width: 620px) {
    .navbar {
        display: block;
    }
    .navbar-title-icon {
        font-size: x-large;
    }
    .registration-login {
        justify-content: center;
    }
    .header-nav-bar {
        width: 100%;
        margin: auto;
        /* margin-bottom: -20px; */
    }
  }