.login-page {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
  }
  
.login-container {
    width: 400px;
    border: 10px solid #333;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 350px;
}
  
.login-container h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(253, 250, 250);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }

.login-container input {
    background-color: #333;
    color: white;
    border: 1px solid #555;
    font-family: 'Montserrat', sans-serif;
  }
  
.login-container ::placeholder {
    color: #999;
    font-family: 'Montserrat', sans-serif;
  }
  
.login-container label {
    color: #ff6a00;
  }
  
.custom-button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 200px; 
    font-family: 'Montserrat', sans-serif;
}
  
.forgot-password{
    font-size: 13px;
    color: #999
}