@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&family=Oswald&family=Signika+Negative&family=Space+Grotesk&display=swap');

.nav-link{
    color: #ff6a00;
    font-family: 'Oswald', sans-serif;
    font-size: large;

}