@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&family=Old+Standard+TT&family=Poppins:wght@400;800&family=Roboto&family=Roboto+Slab:wght@100;200&display=swap');
.newspaper-container.custom-width {
  background-color: #D2D0C9; 
  color: black; 
  margin: 0 auto;
  padding: 10px;
  max-width: 97%;
  height: auto;
  border: 1px solid #000; 
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2); 
}

@media (max-width: 768px) {
  .newspaper-container.custom-width {
    padding: 10px;
  }
}

.header {
  font-size: 60px;
  color: #050404; 
  text-align: center;
  font-family: 'News Cycle', sans-serif;
  font-weight: bold;
  position: relative;
}
.header::before,
.header::after {
  content: '';
  position: absolute;
  background-color: #000; /* black lines */
  height: 2px; /* line thickness */
  width: 33%; /* line width */
  top: 50%; /* position in the middle of the text */
  transform: translateY(-50%); /* adjust vertical position */
}

.header::before {
  left: 0;
}

.header::after {
  right: 0;
}
.sub-header{
  font-size: 28px;
  color: #050404; 
  font-family: 'News Cycle', sans-serif;
  font-weight: bold;
}

.paragraph-text {
  font-size: 18px;
  font-family: 'News Cycle', sans-serif;
  margin: 0;
}
.news-image {
  max-width: 30%; 
  height: auto; 
}

.missing-girl-container {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
}

.missing-girl-text {
  flex: 1; 
  padding: 20px; 
}

.missing-girl-text h2 {
  font-size: 20px; 
}

.missing-girl-text p {
  font-size: 18px; 
}

.murder-mystery-container {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  margin-bottom: 20px; 
}

.murder-mystery-text {
  flex: 1; 
  padding-right: 20px; 
}

.murder-mystery-text h2 {
  font-size: 20px; 
}

.murder-mystery-text p {
  font-size: 18px; 
}

.murder-mystery-container .news-image {
  flex: 1; 
}

.author{
  font-weight: bold;
}
.writer{
  font-weight: 400;
}
.paragraph-text2{
  font-size: 30px;
  font-family: 'News Cycle', sans-serif;
}

.center-image {
  display: flex;
  align-items: center;
}

.image-container {
  border: 2px solid #000; 
  padding: 10px; 
  margin-right: 20px; /* adjust the spacing between the image and text */
}

.coke-image {
  max-width: 100%; 
  border: 2px solid black; /* you can adjust the border width and color */
  margin-left: 10px;

}

.image-with-border {
  border: 2px solid black; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-inside-border {
  flex: 1;
  padding: 10px; 
}
.coke-header{
  font-family: 'Old Standard TT', serif;
  font-weight: bold;
}
.coke-header2{
  font-family: 'Old Standard TT', serif;
}
.coke-text{
  font-family: 'Old Standard TT', serif;
  font-size: 15px;
}
/* .newspaper-modal-body{
background-color: #333;
}
.modal-header{
  background-color: #333;
} */


