.story-text {
    text-align: left
  }
.custom-input {
  background-color: rgb(45, 44, 44); 
  color: white; 
}

.custom-input::placeholder {
  color: white; 
}

.custom-input:focus {
  background-color: black; 
  color: white;
  outline: none; 
}

.custom-input-group {
  width: 100%; 
  margin-left: auto;
}

.custom-button {
  background-color: #ff6a00; 
  color: white; 
  border: none; 
}
.custom-button:hover {
  background-color: red;
}
.custom-button:active {
  background-color: #ff6a00 !important; 
}


