/* @import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&family=Poppins:wght@400;800&family=Roboto&family=Roboto+Slab:wght@100;200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,200&family=Roboto+Slab:wght@400;500&display=swap');
.title-container {
  background-color: black;
  color: white;
  font-family: 'Roboto Serif', serif;
  text-align: center;
  padding: 20px; 
  overflow-y: hidden; 
}

.image-container {
  display: flex;
  justify-content: center;
}

.antique {
  max-width: 100%;
  width: 1500px;
  height: auto;
  border-radius: 20px;
}
.cartoon {
  max-width: 100%;
  width: 300px;
  height: auto;
  border-radius: 20px;
}


.scrollable-box {
  max-height: 1000px; 
  overflow-y: auto;
  padding: 10px; 
}

.scrollable-box::-webkit-scrollbar {
  width: 10px; 
}

.scrollable-box::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 6px; 
}

.scrollable-box::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.scrollable-box::-webkit-scrollbar-track {
  background: black; 
}

.scrollable-box::-webkit-scrollbar-track:hover {
  background: black 
}

@media screen and (max-width: 620px) {
  .index-module_type__E-SaG {
   font-size: 1.25em !important;
 }
}
