#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: black;
  background: url("./assets/rain-drizzle.gif") repeat; 
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

body{
  background-color: red;
}

.image-title{
  height: 40px;
  width: auto;
}

.signup-text{
  text-align: right;
  color: red;
}


.navbar {
  display: flex;
  width: 100vw;
}

.header-nav{
  display: flex;
  justify-content: space-between;
}

.right-align {
  margin-left: auto;
}

.content{
  background-color: blue;
}
